* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Tauri", sans-serif;
}
/* logo */
.img-responsive {
  height: auto;
  width: auto;
  max-height: 150px;
  max-width: 220px;
}

#navbar-logo {
  justify-self: start;
  margin-left: 20px;
  color: #ffffff;
}

.nav-container {
  width: 100%;
  background-color: #000000;
}

.navbar {
  display: grid;
  grid-template-columns: 0.2fr auto 1fr;
  align-items: center;
  height: 130px;
  width: 90%;
  margin: 0 auto;
}

#navbar-logo {
  cursor: pointer;
  display: inline-block;
  /* white-space: nowrap;  */
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  list-style: none;
  text-align: center;
  width: 70%;
  justify-self: end;
  margin-top: 10px;
}

.nav-links {
  font-size: 26px;
  color: #ffffff;
  text-decoration: none;
}
.nav-links:hover {
  color: #2ecc71;
  text-decoration: none;
  transition: all 0.2s ease-out;
}
/* sign up button  */
.nav-links-btn {
  background-color: #2ecc71;
  padding: 8px 18px;
  border-radius: 6px;
}

.nav-links-btn:hover {
  color: #ffffff;
  background-color: transparent;
  transition: all 0.2s ease-out;
  text-decoration: underline;
}

/* hamburger icon */
.menu-toggle .bar {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.2s ease-out;
  background: #ffffff;
}

@media screen and (max-width: 1300px) {
  .nav-container {
    position: relative;
  }

  .nav-menu {
    display: grid;
    grid-template-columns: auto;
    background: #2ecc71;
    margin: 0;
    width: 100%;
    position: absolute;
    top: 130px;
    left: -100%;
    opacity: 0;
    transition: all 0.2s ease;
  }

  #navbar-logo {
    margin-left: 20px;
  }
  .nav-menu.active {
    background: black;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
  }
  .nav-links {
    text-align: center;
    line-height: 60px;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #2ecc71;
    color: #ffffff;
    transition: all 0.2s ease-out;
  }
  .navbar {
    width: 100%;
  }

  .nav-links-btn {
    border: none;
    padding: 0;
    border-radius: 0;
    background-color: #2ecc71;
    color: white;
    transition: all 0.2s ease-out;
  }
  .nav-links-btn:hover {
    border: none;
    padding: 0;
    border-radius: 0;
    background-color: red;
    color: white;
    transition: all 0.2s ease-out;
  }
  /* hamburger position */
  #mobile-menu {
    position: absolute;
    top: 35%;
    right: 7%;
    transform: translate(5%, 20%);
  }

  .menu-toggle .bar {
    display: block;
    cursor: pointer;
  }
  .menu-toggle:hover {
    cursor: pointer;
  }

  /* hamburger on click */
  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }
  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

img {
  /* Full height */
  height: 100%;
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#background-img {
  /* Full height */
  height: 100vh;
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* footer container  */
.footer-container {
  background-color: #000000;
  padding: 2rem 1rem 2rem 1rem;
}

.footer {
  /* height: 50vh; */
  background-color: #000000;
  color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 auto;
  flex-direction: row;
}

.footer-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-heading h2 {
  margin-bottom: 1.5rem;
  margin: 1rem;
  text-decoration: underline;
}

.footer-heading a {
  color: #ffffff;
  /* text-decoration: none; */
  margin-bottom: 0.5rem;
  font-size: 20px;
}

.footer-heading a:hover {
  color: #2ecc71;
  transition: 0.2s ease-out;
}

.footer-email-form h2 {
  margin: 1rem 1rem 2rem 2rem;
  text-decoration: underline;
}

#footer-email {
  width: 300px;
  height: 50px;
  border-radius: 4px;
  outline: none;
  border: none;
  padding-left: 0.5rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  box-shadow: 0 7px #fff;
}

#footer-email::placeholder {
  color: lightslategray;
}

#footer-email-button {
  height: 52px;
  width: 100px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #2ecc71;
  border: none;
  border-radius: 4px;
  box-shadow: 0 5px #fff;
}

#footer-email-button:hover {
  background-color: rgb(34, 34, 255);
}
#footer-email-button:active {
  /* background-color: #2ecc71; */
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

@media screen and (max-width: 1150px) {
  .footer {
    height: auto;
    /* object-fit: contain; */
  }
}

@media screen and (max-width: 1088px) {
  .footer-heading {
    margin: 0.1rem;
  }
  .footer-email-form {
    margin-top: 0.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* object-fit: contain; */
  }
}
/* 
@media screen and (max-width: 1000px) {
  .footer-email-form {
    justify-content: space-between;
  }
} */
